* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    background-size: cover;
   

}
body section{
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
}
.galeria{
    margin: 35px auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    
}
.galeria h2{
    font-size: 35px;
    letter-spacing: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1005px;

}


h2 {
    animation-name: h2-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes h2-color {
        0% {
            color: red;
            scale: 1.2;
        }
        10%{
            color: rgb(255, 123, 0);

        }
        20%{
color: rgb(255, 238, 0);

        }
        30%{
color: rgb(0, 255, 0);

        }
        40%{
color: rgb(0, 255, 55);

        }
        50% {
            color: blue;
        }
        60%{
            color: rgb(0, 247, 255);

        }
        70%{
            color: rgb(0, 110, 255);
        }
        80%{
            color: rgb(47, 0, 255);
        }
        90%{
            color: rgb(57, 3, 107);

        }

        100% {
            color: red;
        }
    }

.logo img {
    width: 250px;
    border-radius: 20px;
    width: 100%;
}

.container-img {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
}

.imagem-galeria {
    flex-wrap: wrap;
    display: flexbox;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.imagem-galeria img {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

img {
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: border-color 0.3s ease;
}

img:hover {
    scale: 1.2;
    box-shadow: 0 0 10px 5px rgba(255, 72, 0, 0.7);
}

.voltar {
    display: flex;
    justify-content: center;
    text-align: center;
   
}

button {
    width: 300px;
    position: relative;
    content: "";
    background-color: #A0522D;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    margin: 35px;
    box-shadow: 0 0 10px rgba(7, 0, 0, 0.808), 0 0 20px rgba(0, 0, 0, 0.5);
}

 button:hover{
         box-shadow: 0 0 10px rgba(240, 109, 8, 0.753);
         color: #ffffff;
         
    }
